{
 email {$ACME_EMAIL}
}
{$DASHBOARD_DOMAIN} {
 handle /api/v1/portal/* {
  reverse_proxy api:8087
 }
 handle /api/v1/developer/* {
  reverse_proxy api:8087
 }
 handle /api/v1/admin/* {
  reverse_proxy api:8087
 }
 handle /api/* {
  respond 404
 }
 handle {
  reverse_proxy admin:3000
 }
}
{$STORE_DOMAIN} {
 handle /api/v1/store/* {
  reverse_proxy api:8087
 }
 handle /api/* {
  respond 404
 }
 handle {
  reverse_proxy store:3000
 }
}
